:root {
    --primary-bg-color: #400080;
    --primary-color: #ffffff
}

*:before, *:after {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0
}

.hero {
    background: var(--primary-bg-color);
    color: var(--primary-color);
    transition: all .16s ease-in-out
}